nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgba(4, 4, 95, 0.7);
}

nav a {
    margin: 15px 0;
    text-decoration: none;
    color: white;
}

:active {
    color: #afafaf;
}