.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about p {
    color: #aaa;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}